/* reset */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: tomato;
    display: flex;
    justify-content: center;
    padding: 2em;
}

main {
    display: grid;
    grid-template-columns: 220px 40vw;
    background: grey;
    color: white;
    padding: 2em;
}

.der {
    display: flex;
    align-content: space-between;
    justify-content: flex-start;

}

.task {
    margin: 1em;
    padding: 1em;
    background: white;
    color: black;
    max-width: 200px;
    border-radius: 15px;
    background-color: aquamarine;
}

.completed {
    /*  text-decoration: line-through;*/
    opacity: 0.3;

}

.task .text {
    font-size: 24px;
}